*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.factorypath
*.prefs

# IntelliJ
.idea
*.iml

# VS Code
.vscode

# Maven build / Jenkins test harness output
target/
work/

# Perforce
.p4config
.p4ignore

# Presentations (stored in Perforce, not git)
docs/ppt/

tmp*

# vim swap files
.*.swp
